@model IEnumerable<AlumniManagement.JobHistoryService.JobHistoryDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.min.css">
    <style>
        .table-container {
            max-width: 1200px;
            margin: auto;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        #alumniData {
            width: 100% !important;
            table-layout: auto;
        }

            #alumniData th, #alumniData td {
                white-space: nowrap;
                text-align: center;
            }
    </style>
}

<h2>Index</h2>

<button class="btn ">
    @*<a href="/JobHistory/Create?AlumniID=' + alumniID +'" class="btn btn-primary">Create Job</a>*@
    <form action="@Url.Action("Create", "JobHistory")" method="get">
        <input type="hidden" name="alumniID" value="@ViewBag.AlumniID" />
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</button>
<table class="table">
    <tr>
        <th>
            Company
        </th>
        <th>
            Description
        </th>
        <th>
            End Date
        </th>
        <th>
            Job Title
        </th>
        <th>
            Modified Date
        </th>
        <th>
            Start Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
